.book-create-container {
    display: flex;
    /* justify-content: center; */
    form input {
        margin: 8px;
        width: auto;
        height: 30px;
        border: 1px solid darkgrey;
    }

    button {
        color: white;
        background-color: lightseagreen;
        border: 1px solid green;
        border-radius: 5px;
        font-size: 14px;
        width: 75px;
        height: 31px;
        cursor: pointer;
    }
}