.side-navigation {
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 100vh;
    border: 1px solid grey;

    /* position: sticky;
    top: 0;
    overflow-y: scroll; */

    a {
        padding: 8px;
        border: 1px solid grey;
    }
}